.card {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    align-items: center;


    min-height: 240px;
    width: auto;
    // margin-top: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: var(--card-bg);
    border-radius: 1rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border: 3px solid transparent;
    transition: all var(--card-duration) ease-out;
    
    &:hover {
      border: 3px solid var(--primary-color);
      cursor: pointer;
      transform: translate(5px, 0px);
      transition: all var(--card-duration) ease-out;
    }
    &:hover .post-link {
      color: var(--primary-color);
    }
    > a img {
      display: block;
      width: 100%;
    }
    > header {
      padding: 1.5rem 1rem;
    }
    > h2:first-child {
      margin: 0 0 0.5rem 0;
    }
    .post-title {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    .post-description, .post-meta {
      font-weight: 100;
      margin-bottom: 1rem;
      line-height: 1.5rem;
    }
    .post-link {
      color: var(--text-color);
      text-decoration: none;
      font-size: 2rem;
      font-weight: 800;
      line-height: 2.125rem;
      letter-spacing: -.05rem;
      margin: 2.5rem 0 0;
    }

    .tag {
      font-size: .75rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      background-color: #DCFFDF;
      color: #005607;
      width: auto;
      border-radius: 20px;
      padding: 2px 12px 4px 12px;
      display: inline-block;
      margin-left: -2px;
    }


  }



// margin on mobile
@media (max-width: 700px) {
  .card {
    padding: 2rem;
    
    > header {
      padding: 1.5rem 0 0 0;
    }

    .post-link {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
}