$font-family: 'Synthese','Helvetica Neue',sans-serif;

html,
body {
  margin: 0;
  padding: 0;
  --fade-duration: 0.15s;
  --card-duration: 0.2s;
  font-size: 16px;
}
* {
  margin-top: 0
}
body {
  --primary-color: #1B5FBC;
  --primary-text-color: #14143d;
  --primary-border-color: #1B5FBC;
  --featured-bg: #ebf7ff;
  --featured-text: #fff;
  --secondary-color: #1B5FBC;
  --secondary-text-color: #374a6d;
  --background: #ebf7ff;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #fff;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --about-bg: #f7f8fe;
  --about-bdr: #d3d6e7;
  --input-bg: var(--background);
  font-family: $font-family;
  background-color: var(--background);
  color: var(--secondary-text-color);
  max-width: 1200px;
  margin: 0 auto;
}
a {
  color: var(--primary-text-color);
  text-decoration: none;
  border-bottom: solid 1px var(--primary-border-color);
  font-weight: 400;

  transition: color var(--fade-duration) ease, border var(--fade-duration) ease;
  &[aria-current] {
    transition: color var(--fade-duration) ease, border var(--fade-duration) ease;
  }
  &:hover {
    transition: color var(--fade-duration) ease, border var(--fade-duration) ease;
    border-bottom: dashed 1px var(--primary-color);
    color: var(--primary-color);
  }
}
.site-wrapper {
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

h1, h2, h3, h4, h5, .headline, .work {
  color: var(--primary-text-color);
}

.hero-header {
  padding: 0 0 64px;
  margin: 0 auto;
}
.headline{
  font-size: 2.75rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -1px;
  margin-bottom: 2.5rem;
  max-width: 830px;
}

.button {
  padding: .25rem 1rem .5rem;
  display: inline-block;
  background: var(--btn-bg);
  border: none;
  border-radius: .375rem;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 1rem 1.5rem 0 0;
  transition: background-color var(--card-duration) ease;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--btn-text-color);
    &:hover {
      transition: background-color var(--card-duration) ease;
      background-color: var(--primary-text-color);
      color: var(--btn-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    transition: background-color var(--card-duration) ease;
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
    border-bottom: none;
  }
}
.margin-top-sm {
  margin-top: 1rem;
}
.primary-content {
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: var(--secondary-text-color);
  margin-top: 32px;
  margin-bottom: 12px;
  max-width: 58ch;
  letter-spacing: -.01em;
}
.work {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.625rem;
  letter-spacing: -1px;
  margin-bottom: 2rem;
  color: var(--primary-text-color)
}

.grids .post-link {
  border-bottom: none;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 2rem auto 4rem auto;
}

.post {
  padding: 0;
  background:var(--background);
  color: var(--secondary-text-color);
  line-height: 1.5;
  // max-width: 700px;
  margin: auto;
  > .blog-post-content {
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }

 

  .post-title {
    text-align: left;
    margin: 0 0 1rem;
    line-height: 1.3;
    font-size: 3rem;
    letter-spacing: -.05rem;
    font-weight: 700;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }

  hr {
    border: .5px solid var(--primary-color);
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 1rem 0 .5rem 0;
  }

  h3 {
    font-family: "jetbrains-mono", monospace;
    font-size: 1.25rem;
    font-weight: 700;
    margin: .5rem 0 .25rem 0;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  p {
    font-weight: 300;
    font-size: 1.25rem;
    color: var(--secondary-text-color)
  }


  .post-title, h2, h3, h4, hr, p, blockquote, h5, .operational-model, ul, ol {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  h5 {
    font-weight: 300;
    font-size: .75rem;
  }
  
  li {
    font-weight: 200;
  }

  img {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    max-height: 400px;
  }

  blockquote {
    font-family: "jetbrains-mono", monospace;
    border-left: 2px dashed var(--primary-color);
    margin: 1rem auto 2.5rem auto;
  }

  blockquote p{
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-left: 2rem;
  }

  .no-shadow img {
    box-shadow: none;
  }

  .diff-grid {
    width: 100%;
    height: auto;
    margin: 3rem auto;
    text-align: center;

    img {
      display:inline-block;
      height: 100%;
      max-height: 300px;
      width: auto;
    }
  }

  .solo-photo {
    width: 100%;
    text-align: center;
    margin: 3rem auto;

    img {
      max-width: 900px;
      width: 100%;
      object-fit: cover;
      max-height: 700px;
    }  
  }

  .operational-model {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    max-height: 433px;
    margin: 3rem auto;
  }

}
.post-thumbnail {
  text-align: center;
  min-height: 200px;
  //background-image: url('/assets/circles-light.png');
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  // &:before {
  //   content: "";
  //   background: rgba(0,0,0,0.4);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1;
  // }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-top: 0;
}
.post-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}
.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  font-size: .75rem;
  color: var(--secondary-text-color);
  a {
    font-weight: 400;
  }
}
.form-container {
  background-color: var(--about-bg);
  padding: 32px;
  border: 1px solid var(--about-bdr);
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-about {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}

//about page
.content-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.about-link {
  margin: 0 .75rem 0 0;
  font-size: 1.375rem;
  display: none;
}

.equal-imgs {
  max-height: 700px;
  min-height: 400px;
  width: 100%;
  margin-bottom: 4rem;
}

.equal-imgs img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-height: 300px;
  max-width: 700px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

}



/* Portrait and Landscape */
// @media only screen 
// and (min-width: 768px) {
// }
@media only screen 
  and (min-width: 1024px) {
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}




// margin on mobile
@media (max-width: 700px) {
  html {
    font-size: 14px;
  }

  body {
    margin: 4vh 1.5rem;
  }

  .mobile-hide {
    display: none;
  }

  .headline {
   font-size: 2rem;
   line-height: 2.5rem;
  } 

  .button {
    padding: .5rem 1rem;
  }

  .about-link {
    display: inline-block;
  }

  .post-grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .post {

    .diff-grid {
      img {
        max-height: none;
        width: 100%;
      }
  }
}
}